body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

/* Header Styles */
header {
    background-color: #007bff;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ddd;
}

/* Main Content Styles */
main {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section {
    padding: 20px;
}

section h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

 /* Image styles*/
 .image {
    display: flex;
    justify-content: center;
    gap: 20px; /* Уменьшенный отступ по умолчанию */
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgba(240, 240, 240, 0.5);
    border-radius: 10px;
    flex-wrap: wrap; /* Разрешает перенос элементов */
}

.image img {
    max-width: 100%; /* Изображения не выходят за контейнер */
    height: auto; /* Автоматическая высота */
}
  .image img {
      max-width: 150%; /* Увеличиваем размер изображения */
      max-height: 150%; /* Увеличиваем размер изображения */
  }
  @media (max-width: 768px) {
    .image {
        gap: 15px;
        margin-bottom: 15px;
         padding: 10px;
        flex-direction: column; /* Элементы располагаются в столбик */
          align-items: center; /* Выравнивание по центру для элементов в столбик*/
    }

}


/* Медиа-запрос для экранов больше 768px (планшеты и десктопы) */
@media (min-width: 768px) {
  .image {
    gap: 40px;
        padding: 20px;
    margin-bottom: 40px;

  }
      .image img {
           max-width: 150%; /* Увеличиваем размер изображения */
         max-height: 150%; /* Увеличиваем размер изображения */
    }
}
.card-img {
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.card-img:hover {
    transform: translateY(-5px);
}
/* Main section styling */
.card-conteiner {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.card-conteiner h2 {
    color: #444;
    margin-bottom: 15px;
}
.card-conteiner ul {
    list-style-type: disc;
    margin-left: 25px;
    color: #555;
}

/* Reviews Section */
.reviews-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.review-card {
    width: calc(100% - 20px);
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
     text-align: left; /* Align text to the left*/
    transition: transform 0.3s ease;
}
.review-card:hover {
   transform: translateY(-5px); /* Lift up on hover */
}
.review-text {
    color: #555;
    margin-bottom: 15px;
    line-height: 1.5;
    word-wrap: break-word;
}

.review-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9em;
    color: #777;
}

.review-rating {
    color: gold;
}

.review-date {
    font-style: italic;
}

/* Add Review Section */
.add-review-section {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.add-review-section h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #444;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: inherit; /* inherit from body */
}

.form-group textarea {
    min-height: 100px;
    resize: vertical;
}

.form-actions {
    text-align: right;
}

.submit-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    display: inline-flex; /* Display as flexbox for icon positioning */
    align-items: center; /* Align items vertically */
    justify-content: center; /* Space items evenly */
    gap: 5px;
}

.submit-button:hover {
    background-color: #0056b3;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.submit-button .button-text {
    order: 1;
}
.submit-button .icon {
  order: 2;
}

#download .download-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* По умолчанию два столбца */
    gap: 20px;
    margin-bottom: 20px;
  }
  
  
  #download .download-column {
      padding: 20px;
      background-color: #f9f9f9;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      margin-bottom: 20px;
  }
  
  #download ul {
      list-style-type: none;
      padding-left: 0;
      color: #555;
  }
  
  #download h3 {
     margin-bottom: 10px;
      color: #444;
      text-align: center;
  }
  
  #download .download-column ul li div {
      padding: 10px;
      border-radius: 8px;
      text-align: center;
      transition: transform 0.3s ease;
  }
  
  #download .download-column ul li div:hover {
      transform: translateY(-5px);
  }
  
  #download > div:last-child {
      margin-bottom: 0;
  }
  
  .transform {
      transform: rotate3d(0, 0.5, 0.5, 0.5deg);
      transition: transform 0.3s ease;
  }
  
  /* Медиа-запрос для экранов меньше 768px (смартфоны) */
  @media (max-width: 768px) {
     #download .download-grid {
          grid-template-columns: 1fr; /* Один столбец для маленьких экранов */
         gap: 10px;
     }
       #download .download-column {
          padding: 10px;
          margin-bottom: 10px;
      }
      #download .download-column ul li div {
          padding: 5px;
      }
       .transform {
           transform: rotate3d(0, 0.25, 0.25, 0.5deg);
       }
  }
  
  /* Медиа-запрос для экранов от 768px до 1200px (планшеты) */
  @media (min-width: 768px) and (max-width: 1200px) {
      #download .download-grid {
      gap: 15px;
     }
  }

.download-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.download-button {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.download-button:hover {
    background-color: #0056b3;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
/* Footer Styles */
footer {
  background-color: #f9f9f9;
  padding: 20px;
  text-align: center;
  margin-top: 30px;
}

footer h1 {
    margin-bottom: 20px;
    color: #333;
}
footer fieldset {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
     background-color: white;
      text-align: left;
}

footer legend {
  font-weight: bold;
    margin-bottom: 10px;
    color: #444;
    padding: 0 5px;
}
footer p {
  margin-top: 20px;
  font-size: 0.9em;
  color: #777;
}

/* Responsive design */
@media (max-width: 768px) {
    nav ul{
      flex-direction: column; /* Stack items on smaller screens */
        align-items: center;
    }
}